#un-slides {
	overflow: hidden; height:250px;clear:both;
}
#un-slides ul li img.responsive {
	width:100%;
}

.unslider .unslider-nav {
	top:-240px;
	position:relative;
	z-index:10;
}

#content-container {
	min-height: 400px;
}

#error-modal .modal-header {
	color: #fff;
	background-color: #337ab7;
}

#content-container article img.responsive {
	width:80%;
}

#content-container .tab-pane {
	padding-top:15px;
}

#content-container .article {
	border: 1px solid #ccc;
	padding:15px;
	margin-bottom: 15px;
}

footer {
	color:#777;
	background:#222;
	border-top:2px solid #444;
}

footer h1,footer h2,footer h3,footer h4{
	color:#ddd;
	font-weight:300;
}

footer .socialize i{
	color:#ddd;
}
footer .socialize a {
	padding-right:20px;
}