html {
    overflow-y: scroll;
}

body {
    background: #c1bdba;
    background-color: #1D1D1D;
    font-family: 'Titillium Web', sans-serif;
}

a {
    text-decoration: none;
    color: #1293EE;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

    a:hover {
        color: #0D66A5;
    }

.popup {
    display: none;
    background: rgba(19, 35, 47, 1);
    padding: 40px;
    margin: 50px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    position: fixed;
    z-index: 1000;
    left: 30%;
    top: -20px;
    /*min-width: 300px;*/
    width: 450px;
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

    .tab-group:after {
        content: "";
        display: table;
        clear: both;
    }

    .tab-group li {
        display: inline;
        list-style: none;
        width: 50%;
    }

        .tab-group li a {
            text-decoration: none;
            padding: 15px;
            background: rgba(160, 179, 176, 0.25);
            color: #a0b3b0;
            font-size: 20px;
            float: left;
            text-align: center;
            cursor: pointer;
            -webkit-transition: .5s ease;
            transition: .5s ease;
            width: 85%;
        }

            .tab-group li a:hover {
                background: #0D66A5; /*#179b77 - verde*/
                color: #ffffff;
            }

    .tab-group .active a {
        background: #1293EE; /*#1ab188- verde*/
        color: #ffffff;
    }

.tab-content > div:last-child {
    display: none;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
}

label {
    position: absolute;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}

    label .req {
        margin: 2px;
        color: #1293EE;
    }

    label.active {
        -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
        transform: translateY(50px);
        left: 2px;
        font-size: 14px;
    }

        label.active .req {
            opacity: 0;
        }

    label.highlight {
        color: #ffffff;
    }

input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
}

    input:focus, textarea:focus {
        outline: 0;
        border-color: #1293EE;
    }

textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.field-wrap {
    position: relative;
    margin-bottom: 40px;
}

.top-row:after {
    content: "";
    display: table;
    clear: both;
}

.top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}

    .top-row > div:last-child {
        margin: 0;
    }

.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1293EE;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

.button_disabled {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background-color:tomato;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

    .button:hover, .button:focus {
        background: #0D66A5;
    }

.button-block {
    display: block;
    width: 100%;
}

.forgot {
    margin-top: -20px;
    text-align: right;
}

.close {
    background: #112c2d;
    color: #1293EE;
    line-height: 25px;
    position: absolute;
    top: -10px;
    right: -10px;
    text-align: center;
    width: 23px;
    height: 23px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 2px solid #fff;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

    .close:hover {
        background: #1293EE;
        color: white;
    }

/*lala*/

blockquote {
    margin: 20px 0;
    padding: 10px 20px 0 20px;
    border: 1px solid #E5E5DB;
    background: #FFF;
}

/*ul {
    margin: 2px 0 22px 17px;
}

    ul li {
        list-style-type: circle;
        margin: 0 0 6px 0;
        padding: 0 0 4px 5px;
    }*/

ol {
    margin: 8px 0 22px 20px;
}

    ol li {
        margin: 0 0 11px 0;
    }

#main, #logo, #menubar, #site_content, #footer {
    margin-left: auto;
    margin-right: auto;
}

#header {
    background: #1D1D1D repeat;
    height: 150px;
}

#logo {
    width: 825px;
    position: relative;
    height: 78px;
}

    #logo #logo_text {
        position: absolute;
        top: -10px;
        left: -240px;
    }

    #logo h1, #logo h2 {
        font: normal 300% 'century gothic', arial, sans-serif;
        border-bottom: 0;
        text-transform: none;
        margin: 0;
    }

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover {
    padding: 22px 0 0 0;
    color: #FFF;
    letter-spacing: 0.1em;
    text-decoration: none;
}

    #logo_text h1 a .logo_colour {
        color: #1293EE;
    }

#logo_text h2 {
    font-size: 100%;
    padding: 4px 0 0 0;
    color: #DDD;
}

#menubar {
    width: 900px;
    height: 72px;
    padding: 0;
    background: #1293EE;
}

ul#menu, ul#menu li {
    float: left;
    margin: 0;
    padding: 0;
}

    ul#menu li {
        list-style: none;
        position: relative;
    }

        ul#menu li a {
            letter-spacing: 0.1em;
            font: normal 100% arial, sans-serif;
            display: block;
            float: left;
            height: 37px;
            padding: 29px 26px 6px 26px;
            text-align: center;
            color: #FFF;
            text-transform: uppercase;
            text-decoration: none;
            background: transparent;
        }

            ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover {
                color: #FFF;
                background: #0D66A5;
            }
/*prueba*/
#menu ul {
    display: none;
    margin: 0;
    padding: 0;
    width: 185px;
    position: absolute;
    left: 0;
    top: 72px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
    box-shadow: 0 1px 3px rgba(0,0,0, .3);
    z-index: 2;
    background: #1293EE;
    border-top: none;
}

    #menu ul li {
        float: none;
        margin: 0;
        padding: 0;
    }

        #menu ul li a {
            width: 133px;
            text-align: left;
        }


#menu li:hover > ul {
    display: block;
}


/*prueba*/
#site_content {
    width: 837px;
    overflow: hidden;
    margin: 0 auto 0 auto;
    padding: 20px 24px 20px 37px;
    background: #FFF;
}

.sidebar {
    float: right;
    width: 190px;
    padding: 0 15px 20px 15px;
}

    .sidebar ul {
        width: 178px;
        padding: 4px 0 0 0;
        margin: 4px 0 30px 0;
    }

    .sidebar li {
        list-style: none;
        padding: 0 0 7px 0;
    }

        .sidebar li a, .sidebar li a:hover {
            padding: 0 0 0 40px;
            display: block;
            background: transparent url(link.png) no-repeat left center;
        }

            .sidebar li a.selected {
                color: #444;
                text-decoration: none;
            }

#content {
    text-align: left;
    width: 595px;
    padding: 0;
}

    #content ul {
        margin: 2px 0 22px 0px;
    }

        #content ul li {
            list-style-type: none;
            background: url(bullet.png) no-repeat;
            margin: 0 0 6px 0;
            padding: 0 0 4px 25px;
            line-height: 1.5em;
        }

#footer {
    width: 900px;
    font: normal 100% 'lucida sans unicode', arial, sans-serif;
    height: 33px;
    padding: 24px 0 5px 0;
    text-align: center;
    background: #1293EE;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

    #footer a {
        color: #FFF;
        text-decoration: none;
    }

        #footer a:hover {
            color: #FFF;
            text-decoration: underline;
        }

.search {
    color: #5D5D5D;
    border: 1px solid #BBB;
    width: 134px;
    padding: 4px;
    font: 100% arial, sans-serif;
}

#colours {
    height: 0px;
    text-align: right;
    padding: 66px 16px 0px 300px;
}

.form_settings {
    margin: 15px 0 0 0;
}

    .form_settings p {
        padding: 0 0 4px 0;
    }

    .form_settings span {
        float: left;
        width: 200px;
        text-align: left;
    }

    .form_settings input, .form_settings textarea {
        padding: 5px;
        width: 299px;
        font: 100% arial;
        border: 1px solid #E5E5DB;
        background: #FFF;
        color: #47433F;
    }

    .form_settings .submit {
        font: 100% arial;
        border: 1px solid;
        width: 99px;
        margin: 0 0 0 212px;
        height: 33px;
        padding: 2px 0 3px 0;
        cursor: pointer;
        background: #1293EE;
        color: #FFF;
    }

    .form_settings textarea, .form_settings select {
        font: 100% arial;
        width: 299px;
    }

    .form_settings select {
        width: 310px;
    }

    .form_settings .checkbox {
        margin: 4px 0;
        padding: 0;
        width: 14px;
        border: 0;
        background: none;
    }

.separator {
    width: 100%;
    height: 0;
    border-top: 1px solid #D9D5CF;
    border-bottom: 1px solid #FFF;
    margin: 0 0 20px 0;
}

table {
    margin: 10px 0 30px 0;
}

    table tr th, table tr td {
        background: #3B3B3B;
        color: #FFF;
        padding: 7px 4px;
        text-align: left;
    }

    table tr td {
        background: #F0EFE2;
        color: #47433F;
        border-top: 1px solid #FFF;
    }

.cover {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.8;
    z-index: 998;
    height: 100%;
    width: 100%;
    display: none;
}

.login_register {
    position: absolute;
    right: 20px;
    top: 40px;
}

.logout {
    position: absolute;
    right: 20px;
    top: 57px;
    display: none;
}

.errorLabel {
    color: tomato;
}

/*****/
#container {
    /*max-width:1280px;*/
    min-width: 1024px;
}


.banner {
    position: relative;
    overflow: auto;
    width: 100%;
}

    .banner ul {
        margin: 0;
        padding: 0;
    }


    .banner li {
        list-style: none;
    }

    .banner ul li {
        float: left;
        display: block;
        max-width: 100%;
        height: 250px;
        /*		-webkit-background-size: 100% 100%;*/
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        -ms-background-size: 100% 100%;
        /*		background-size: 100% 100%;*/
    }

#image1 {
    background-image: url("../images/header1.jpg");
}

#image2 {
    background-image: url("../images/superheroes.jpg");
}

#image3 {
    background-image: url("../images/allavengerssdccposter1.jpg");
}


#image4 {
    background-image: url("../images/justice-league-new-52.jpg");
}

.one_quarter, .two_quarter, .three_quarter, .four_quarter {
    display: block;
    float: left;
    margin: 40px 20px 10px 0;
}

.one_quarter {
    width: 235px;
}

.two_quarter {
    width: 470px;
}

.three_quarter {
    width: 715px;
}

.four_quarter {
    width: 960px;
    float: none;
    margin-right: 0;
    clear: both;
}

.lastbox {
    margin-right: 0;
}

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    line-height: 0;
}

.clear {
    display: block;
    clear: both;
    margin-left: 50px;
}

html[xmlns] .clear {
    display: block;
}

* html .clear {
    height: 1%;
}

#latest figure {
    padding: 4px;
    /*border: 1px solid #D6D6D6;*/
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
}

ul li article figure {
}

    ul li article figure img {
        float: left;
        width: 180px;
        height: 150px;
        margin: 0;
        padding: 4px;
        border: 1px solid #666666;
    }

    ul li article figure figcaption {
        display: block;
        float: right;
        width: 410px;
        color: white;
    }

    ul li article figure h2 {
        font-size: 14px;
    }

    ul li article figure footer {
    }

article figure:hover {
    cursor: pointer;
}

    article figure:hover > figcaption {
        color: #1293EE;
    }

section {
    display: block;
    margin: 0;
    padding: 0;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    color:yellow;
}

    .rating > span {
        display: inline-block;
        position: relative;
        width: 1.1em;
    }

        .rating > span:hover:before,
        .rating > span:hover ~ span:before {
            content: "\2605";
            position: absolute;
        }

        span.stars, span.stars span {
    display: block;
    background: url(../images/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

figcaption {
    color: white;
}



/*prueba*/

/*sidebar*/
@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);
/* Please Keep this font import at the very top of any CSS file */
@charset "UTF-8";
/* Starter CSS for Flyout Menu */
#cssmenu {
    padding: 0;
    margin-top: 40px;
    border: 0;
    line-height: 1;
    border-left: 4px solid #1b9bff;
}

    #cssmenu ul,
    #cssmenu ul li,
    #cssmenu ul ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #cssmenu ul {
        position: relative;
        z-index: 597;
        float: left;
    }

        #cssmenu ul li {
            float: left;
            min-height: 1px;
            line-height: 1em;
            vertical-align: middle;
            position: relative;
        }

            #cssmenu ul li.hover,
            #cssmenu ul li:hover {
                position: relative;
                z-index: 599;
                cursor: default;
            }

        #cssmenu ul ul {
            visibility: hidden;
            position: absolute;
            top: 100%;
            left: 0px;
            z-index: 598;
            width: 100%;
        }

            #cssmenu ul ul li {
                float: none;
            }

            #cssmenu ul ul ul {
                top: -2px;
                right: 0;
            }

        #cssmenu ul li:hover > ul {
            visibility: visible;
        }

        #cssmenu ul ul {
            top: 1px;
            left: 99%;
        }

        #cssmenu ul li {
            float: none;
        }

        #cssmenu ul ul {
            margin-top: 1px;
        }

            #cssmenu ul ul li {
                font-weight: normal;
            }
/* Custom CSS Styles */
#cssmenu {
    width: 195px;
    font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
    zoom: 1;
    font-size: 15px;
}

    #cssmenu:before {
        content: '';
        display: block;
    }

    #cssmenu:after {
        content: '';
        display: table;
        clear: both;
    }

    #cssmenu a {
        display: block;
        padding: 15px 20px;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
    }

    #cssmenu > ul {
        width: 195px;
    }

    #cssmenu ul ul {
        width: 195px;
    }

    #cssmenu > ul > li > a {
        color: #ffffff;
    }

        #cssmenu > ul > li > a:hover {
            color: #ffffff;
        }

    #cssmenu > ul > li.active a {
        background: #1b9bff;
    }

    #cssmenu > ul > li a:hover,
    #cssmenu > ul > li:hover a {
        background: #1b9bff;
    }

    #cssmenu li {
        position: relative;
    }

    #cssmenu ul li.has-sub > a:after {
        content: '+';
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -6px;
    }

    #cssmenu ul ul li.first {
        -webkit-border-radius: 0 3px 0 0;
        -moz-border-radius: 0 3px 0 0;
        border-radius: 0 3px 0 0;
    }

    #cssmenu ul ul li.last {
        -webkit-border-radius: 0 0 3px 0;
        -moz-border-radius: 0 0 3px 0;
        border-radius: 0 0 3px 0;
        border-bottom: 0;
    }

    #cssmenu ul ul {
        -webkit-border-radius: 0 3px 3px 0;
        -moz-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;
    }

    #cssmenu ul ul {
        border: 1px solid #0082e7;
    }

        #cssmenu ul ul a {
            font-size: 12px;
            color: #ffffff;
        }

            #cssmenu ul ul a:hover {
                color: #ffffff;
            }

        #cssmenu ul ul li {
            border-bottom: 1px solid #0082e7;
        }

            #cssmenu ul ul li:hover > a {
                background: #4eb1ff;
                color: #ffffff;
            }

    #cssmenu.align-right > ul > li > a {
        border-left: 4px solid #1b9bff;
        border-right: none;
    }

    #cssmenu.align-right {
        float: right;
    }

        #cssmenu.align-right li {
            text-align: right;
        }

        #cssmenu.align-right ul li.has-sub > a:before {
            content: '+';
            position: absolute;
            top: 50%;
            left: 15px;
            margin-top: -6px;
        }

        #cssmenu.align-right ul li.has-sub > a:after {
            content: none;
        }

        #cssmenu.align-right ul ul {
            visibility: hidden;
            position: absolute;
            top: 0;
            left: -100%;
            z-index: 598;
            width: 100%;
        }

            #cssmenu.align-right ul ul li.first {
                -webkit-border-radius: 3px 0 0 0;
                -moz-border-radius: 3px 0 0 0;
                border-radius: 3px 0 0 0;
            }

            #cssmenu.align-right ul ul li.last {
                -webkit-border-radius: 0 0 0 3px;
                -moz-border-radius: 0 0 0 3px;
                border-radius: 0 0 0 3px;
            }

        #cssmenu.align-right ul ul {
            -webkit-border-radius: 3px 0 0 3px;
            -moz-border-radius: 3px 0 0 3px;
            border-radius: 3px 0 0 3px;
        }

.admin {
    display: none;
}


.divTitle {
    width:30%;
    height:35px;
    float:left;
    position:relative;
}

.divText {
    width:70%;
    height:35px;
    float:left;
    position:relative;
}



/**/
/**/
